#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

require 'compass'
require 'i18n'
require 'active_support/all'

Compass.add_project_configuration 'compass/config.rb' # when using Compass 0.10

preprocess do
  ENV['nanoc_env'] ||= "development"
  if ENV['nanoc_env'] == "development"
    @config[:base_url] = "http://0.0.0.0:3000"
  else
    @config[:base_url] = "http://stefanoverna.com"
  end

  Time.zone = "Rome"
  ::I18n.backend.load_translations File.join('it.yml')
  ::I18n.locale = :it

  @items.each do |item|
    if item.attributes[:created_at].is_a? String
      item.attributes[:created_at] = Time.parse item.attributes[:created_at]
    end
  end

  page_size = 15.0
  puts "#{sorted_articles.size} articoli, #{(sorted_articles.size / page_size).ceil} pagine"
  (sorted_articles.size / page_size).ceil.times do |i|
    @items << Nanoc3::Item.new(
      "== render 'archive_page', :page_index => #{i}, :per_page => #{page_size}",
      { :title => (i.zero? ? "Home" : "Archivio \/#{i+1}") },
      i.zero? ? "/pages" : "/blog/archivio/pagina-#{i+1}"
    )
  end
end

compile 'assets/images/*' do
  # no-op
end

compile 'assets/javascripts/partials/*' do
  # no-op
end

compile 'assets/javascripts/*' do
  filter :erb
  filter :yui if ENV['nanoc_env'] == "production"
end

compile 'pages/*' do
  case item[:extension]
    when 'md'
      filter :rdiscount
      filter :rubypants
      filter :email_filter
      layout 'post'
    else
      filter :slim
      filter :email_filter
      layout 'default'
  end
end

compile '/blog/feed/' do
  filter :erb
end

compile '/blog/archivio/*', :rep => :nolayout do
  filter :slim
end

compile '/blog/archivio/*' do
  filter :slim
  layout 'default'
end

compile 'blog/*' do
  filter :rdiscount
  filter :code_classifier, :pre_class => "highlight"
  filter :colorize_syntax, :colorizers => {:ruby => :pygmentize}
  filter :rubypants
  filter :email_filter
  layout 'post'
end

compile 'assets/stylesheets/*' do
  filter :sass, Compass.sass_engine_options unless item.identifier.match /\_/
end

route '/assets/stylesheets/*' do
  "#{item.identifier.chop}.css" unless item.identifier.match /\_/
end

route '/assets/images/favicon' do
  "/favicon.ico"
end

route '/assets/images/*' do
  "#{item.identifier.chop}.#{item[:extension]}"
end

route '/assets/javascripts/partials/*' do
  nil
end

route '/assets/javascripts/*' do
  "#{item.identifier.chop}.js"
end

route '/pages' do
  "/index.html"
end

route '/pages/*' do
  "#{item.identifier.chop}.html"
end

route '/blog/feed/' do
  '/feed.xml'
end

route '/blog/archivio/*', :rep => :nolayout do
  "#{item.identifier.chop}-nolayout.html"
end

route '/blog/*' do
  "#{item.identifier.chop}.html"
end

layout 'pjax', :erb
layout '*', :slim
