script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"
script type="text/javascript" src="http://tweet-it.st.pongsocket.com/tweet-it.js"
script type="text/javascript" src="/assets/javascripts/all.js"
