meta charset="utf-8"
meta name="author" content="Stefano Verna"
meta name="generator" content="Nanoc → http://goo.gl/c8lNS"

title== "#{@item[:title]} &mdash; Stefano Verna"

link href="http://feeds.feedburner.com/stefanoverna" rel="alternate" title="Stefano Verna" type="application/atom+xml"
link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"

link href="http://fonts.googleapis.com/css?family=Kreon:regular|OFL+Sorts+Mill+Goudy+TT:regular,italic" media="all" rel="stylesheet" type="text/css"
link href="/assets/stylesheets/screen.css" media="all" rel="stylesheet" type="text/css"
